<header>

	<div class="menu-toggle">
		<span class="menu-toggle-hamburger"></span>
		
	</div>

	<div class="menu-switch on" data-switch="profile"><span><a class="presslink" href="http://stuyscioly.github.io/">HOME</a></span></div>
	
	<div class="menu-switch switch_blog"><span><a class="aboutlink" href="http://stuyscioly.github.io/">ABOUT</a></span></div>	

	<div class="menu-switch on"><span>ANNOUNCEMENTS</span></div>

	<div class="menu-switch switch_blog"<span><a class="aboutlink" href="http://stuyscioly.github.io/gallery">GALLERY</a></span></div>

	<div class="menu-switch switch_blog"><span><a class="aboutlink" href="http://stuyscioly.github.io/resources">RESOURCES</a></span></div>

	<div class="menu-switch switch_blog"><span><a class="aboutlink" href="http://stuyscioly.github.io/contact">CONTACT US</a></span></div>
	
	<div class="menu-switch switch_blog"><span><a class = "aboutlink" href="calendar">CALENDAR</a></span></div>

	<div class="the-profile">

		<div class="header-image" style="background-image:url({{ site.baseurl }}public/Bridge.jpg)">
			
			<div class="header-overlay"></div>
			
		</div>
		
	</div>

</header>
